<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="myContrl">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/angular.js"></script>
</head>
<body>
<button ng-click="previousPage()">上一页</button>
 <button ng-click="nextpage()">下一页</button>

</body>
<script>
    var app = angular.module("myApp",[])
    app.controller("myContrl",function($scope){

        $scope.previousPage=function(){
//            pagecount=pagecount-1;
            console.log("previous page: "+pagecount);
            console.log(routerhistory.pop());
        }
        $scope.nextpage=function(){
            pagecount=pagecount+1;
            console.log("next page: "+pagecount);
            routerhistory.push(pagecount);

        }

    })
    var pagecount=1;
    var routerhistory=new Array();

</script>


</html>