<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">

    <!--bootstrap-->
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap-theme.css">
    <!-- lib JS dependencies-->
    <script src="lib/angular/angular.js"></script>
    <script src="lib/jquery-3.0.0.js"></script>
    <script src="lib/bootstrap/js/bootstrap.js"></script>
    <script src="lib/angular/angular-translate.js"></script>
    <script src="lib/angular/loader-static-files.js"></script>
    <script src="lib/angular/angular-ui-router.js"></script>
    <script src="lib/ui-bootstrap.js"></script>
    <script src="lib/ui-bootstrap-carousel.js"></script>
    <script src="lib/jqzoom.js" type="text/javascript"></script>
    <script src="lib/picture.js" type="text/javascript"></script>

</head>
<body ng-app="myApp" ng-controller="MyCtrl">
<ul>
    <li ng-repeat="item in data">
        <input type="checkbox" ng-checked="item.checked" ng-click="item.checked = !item.checked "> {{item.Title}}
    </li>

    <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>

    <button ng-click="checkItems()">Do</button>
    <button ng-click="showResult()">Show</button>
    <button ng-click="deleteArr()">Delete arr</button>
    <button ng-click="showConfirm()">Show Confirm</button>
</ul>

<script>
    var app=angular.module('myApp',[])
    app.controller('MyCtrl',function($scope){

        var arr=[1,2,3,4,5,6,7];
        $scope.deleteArr=function(){
            console.log(arr);
            angular.forEach(arr,function(value,index){
                 if(value == 3){
                     arr.splice(index,1);
                     console.log(arr);
                 }
            });
            console.log(arr);
        }

        $scope.showConfirm=function(){

            console.log(confirm("确定删除？"));
        }

    })

</script>
</body>
</html>
