<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/angular.js"></script>
    <script src="js/angular-file-upload.js"></script>
</head>
<body ng-app="myApp">
<div ng-controller="MyCtrl">
    <input type="text" ng-model="myModelObj">
    <input type="file" ng-file-select="onFileSelect($files)">
    <input type="file" ng-file-select="onFileSelect($files)" multiple accept="image/*">
    <div class="button" ng-file-select="onFileSelect($files)" data-multiple="true"></div>
    <div ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class-name-or-function"
         ng-show="dropSupported">drop files here</div>
    <div ng-file-drop-available="dropSupported=true"
         ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
    <button ng-click="upload.abort()">Cancel Upload</button>
</div>

<!--<div ng-controller="MyCtrl">-->
    <!--&lt;!&ndash;<input type="text" ng-model="myModelObj">&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;<input type="file" ng-file-select="onFileSelect($files)">&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="file" ng-file-select="onFileSelect($files)" multiple accept="image/*">&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;<div class="button" ng-file-select="onFileSelect($files)" data-multiple="true"></div>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;<div ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class-name-or-function"&ndash;&gt;&ndash;&gt;-->
         <!--&lt;!&ndash;ng-show="dropSupported">drop files here</div>&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;<div ng-file-drop-available="dropSupported=true"&ndash;&gt;&ndash;&gt;-->
         <!--&lt;!&ndash;&lt;!&ndash;ng-show="!dropSupported">HTML5 Drop File is not supported!</div>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;<button ng-click="upload()">Upload</button>&ndash;&gt;-->

<!--<input type="file" file-model="myFile"/>-->
<!--<div class="col-md-12"> <img ng-src="{{imageSrc}}" style="max-width:300px;max-height:300px;margin:0 auto;display:block;" /> </div>-->
    <!--<button ng-click="fileUpload()">Upload</button>-->

<!--</div>-->
<script>
var app=angular.module('myApp',[])
app.controller('MyCtrl',function($scope){
    $scope.onFileSelect = function($files) {    //$files: an array of files selected, each file has name, size, and type.
        for (var i = 0; i < $files.length; i++) {      var file = $files[i];
           alert(file);
            $scope.upload = $upload.upload({
                url: 'http://9.125.151.89:8080/LDDataServer?action=Forum&cmd=doFile', //upload.php script, node.js route, or servlet url
                //method: 'POST' or 'PUT',
                //headers: {'header-key': 'header-value'},
                //withCredentials: true,
                data: {myObj: $scope.myModelObj},
                file: file, // or list of files ($files) for html5 only
                //fileName: 'doc.jpg' or ['1.jpg', '2.jpg', ...] // to modify the name of the file(s)
                // customize file formData name ('Content-Disposition'), server side file variable name.
                //fileFormDataName: myFile, //or a list of names for multiple files (html5). Default is 'file'
                // customize how data is added to formData. See #40#issuecomment-28612000 for sample code
                //formDataAppender: function(formData, key, val){}
            }).progress(function(evt) {        console.log('percent: ' + parseInt(100.0 * evt.loaded / evt.total));
            }).success(function(data, status, headers, config) {        // file is uploaded successfully
                console.log(data);
            });      //.error(...)
            //.then(success, error, progress);
            // access or attach event listeners to the underlying XMLHttpRequest.
            //.xhr(function(xhr){xhr.upload.addEventListener(...)})
        }    /* alternative way of uploading, send the file binary with the file's content-type.       Could be used to upload files to CouchDB, imgur, etc... html5 FileReader is needed.        It could also be used to monitor the progress of a normal http post/put request with large data*/
        // $scope.upload = $upload.http({...})  see 88#issuecomment-31366487 for sample code.
    };
}
)
// [function($httpProvider){
//    $httpProvider.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded;charset=utf-8';
//    /**
//     * Create by Alvin 3/1/2016
//     * add the function the translate the data to the json dta
//     * @param {Object} obj
//     * @return {String}
//     */
//    var param = function(obj) {
//        var query = '', name, value, fullSubName, subName, subValue, innerObj, i;
//
//        for(name in obj) {
//            value = obj[name];
//
//            if(value instanceof Array) {
//                for(i=0; i<value.length; ++i) {
//                    subValue = value[i];
//                    fullSubName = name + '[' + i + ']';
//                    innerObj = {};
//                    innerObj[fullSubName] = subValue;
//                    query += param(innerObj) + '&';
//                }
//            }
//            else if(value instanceof Object) {
//                for(subName in value) {
//                    subValue = value[subName];
//                    fullSubName = name + '[' + subName + ']';
//                    innerObj = {};
//                    innerObj[fullSubName] = subValue;
//                    query += param(innerObj) + '&';
//                }
//            }
//            else if(value !== undefined && value !== null)
//                query += encodeURIComponent(name) + '=' + encodeURIComponent(value) + '&';
//        }
//
//        return query.length ? query.substr(0, query.length - 1) : query;
//    };
//
//    // Override $http service's default transformRequest
//    $httpProvider.defaults.transformRequest = [function(data) {
//        return angular.isObject(data) && String(data) !== '[object File]' ? param(data) : data;
//    }];
//
//}])
app.directive('fileModel', ['$parse', function ($parse) {
    return {
        restrict: 'A',
        link: function(scope, element, attrs, ngModel) {
            var model = $parse(attrs.fileModel);
            var modelSetter = model.assign;
            element.bind('change', function(event){
                scope.$apply(function(){
                    modelSetter(scope, element[0].files[0]);
                });
                //附件预览
                scope.file = (event.srcElement || event.target).files[0];
                scope.getFile();
            });
        }
    };
}]);

//app.controller('MyCtrl',["uploadService","$scope","fileReader","$http", function(uploadService,$scope, fileReader,$http){
//    $scope.getFile = function () {
//        fileReader.readAsDataUrl($scope.file, $scope).then(
//                function(result) {
//                    $scope.imageSrc = result;
//                });
//    };
//
//    $scope.fileUpload= function(){
//        alert("image upload start....");
//        var postData = {
////            vacationType: 'type',
////            reason: 'reason',
////            familyRelation: "",
////            startTime: 3/1/2016,
////            endTime: 3/1/2016,
//            fileName: $scope.imageSrc
////            ,
////            workDelivers: "workDelivers",
////            ccmailNickNames: "sendPersons" realDays: ""
//        };
//
//
//        uploadService.uploadRequests($scope.imageSrc).then(function(result){
//            alert("upload success");
//
//        },function(error){
//            alert("upload failed "+error);
//        })
//
////        alert("image upload end....");
//    };
//
//}]);

app.factory('fileReader', ["$q", "$log", function($q, $log){
    var onLoad = function(reader, deferred, scope) {
        return function () {
            scope.$apply(function () {
                deferred.resolve(reader.result);
            });
        };
    };

    var onError = function (reader, deferred, scope) {
        return function () {
            scope.$apply(function () {
                deferred.reject(reader.result);
            });
        };
    };

    var getReader = function(deferred, scope) {
        var reader = new FileReader();
        reader.onload = onLoad(reader, deferred, scope);
        reader.onerror = onError(reader, deferred, scope);
        return reader;
    };

    var readAsDataURL = function (file, scope) {
        var deferred = $q.defer();
        var reader = getReader(deferred, scope);
        reader.readAsDataURL(file);
        return deferred.promise;
    };

    return {
        readAsDataUrl: readAsDataURL
    };
}]);
app.factory('uploadService', ["$q", "$http", function($q, $http, $response){
    var uploadRequests = function(postData){

        var deferred = $q.defer();
        var promise = deferred.promise;
        //$http.post("http://9.125.151.127:8080/LDDataServer/?action=User&cmd=login&appMobileNo="+mobileNo+"&appPwd="+pwd)
//        alert("the post data info is : " + postData);
//        var fd = new FormData();
//        angular.forEach(postData, function (val, key) {
//            fd.append(key, val);
//        });
//        var args = {
//            method: 'POST',
//            url: 'http://9.112.55.89:8080/LDDataServer?action=Forum&cmd=doFile',
//            data: fd,
//            headers: {'Content-Type': undefined},
//            transformRequest: angular.identity
//        };
//         alert(fd);
//        $http.defaults.headers.post='Content-Type: undefined';
        $http.post('http://9.112.55.89:8080/LDDataServer?action=Forum&cmd=doFile').success(function(result) {
//                    if(angular.equals("1",result.code)) {
//                        alert("user app id"+result.data[0].app_User_Id);
                    deferred.resolve(result);
//                    }else{
//                        deferred.reject(result);
//                    }
//                })
                })
                .error(function(error){
                    //alert("http get error "+error);
                    deferred.reject(error);
                });
        return  promise;;
    }
    return {
        uploadRequests: uploadRequests
    };
}]);
//app.controller('MyCtrl', ['uploadService',function(uploadService,$scope, fileReader,$http){
//    $scope.getFile = function () {
//        fileReader.readAsDataUrl($scope.file, $scope).then(
//                function(result) {
//                    $scope.imageSrc = result;
//                });
//    };
//
//    $scope.fileUpload= function(){
//        alert("image upload start....");
//        var postData = {
//            vacationType: 'type',
//            reason: 'reason',
//            familyRelation: "",
//            startTime: 3/1/2016,
//            endTime: 3/1/2016,
//            fileName: $scope.imageSrc,
//            workDelivers: "workDelivers",
//            ccmailNickNames: "sendPersons",
//            realDays: ""
//        };
//
//        var fd = new FormData();
//        angular.forEach(postData, function (val, key) {
//            fd.append(key, val);
//        });
//        var args = {
//            method: 'POST',
//            url: 'http://9.125.151.89:8080/LDDataServer?action=Forum&cmd=doFile',
//            data: fd,
//            headers: {'Content-Type': undefined},
//            transformRequest: angular.identity
//        };
//        uploadService.uploadRequests(args).then(function(result){
//            alert("upload success");
//
//        },function(error){
//            alert("upload failed "+error);
//        })
//
////        alert("image upload end....");
//    };
//}]);

</script>
</body>
<script>
//    app.service('Util', function($q) {
//        var dataURItoBlob = function(dataURI) {
//            // convert base64/URLEncoded data component to raw binary data held in a string
//            var byteString;
//            if (dataURI.split(',')[0].indexOf('base64') >= 0)
//                byteString = atob(dataURI.split(',')[1]);
//            else
//                byteString = unescape(dataURI.split(',')[1]);
//
//            // separate out the mime component
//            var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];
//
//            // write the bytes of the string to a typed array
//            var ia = new Uint8Array(byteString.length);
//            for (var i = 0; i < byteString.length; i++) {
//                ia[i] = byteString.charCodeAt(i);
//            }
//
//            return new Blob([ia], {
//                type: mimeString
//            });
//        };
//
//        var resizeFile = function(file) {
//            var deferred = $q.defer();
//            var img = document.createElement("img");
//            try {
//                var reader = new FileReader();
//                reader.onload = function(e) {
//                    img.src = e.target.result;
//
//                    //resize the image using canvas
//                    var canvas = document.createElement("canvas");
//                    var ctx = canvas.getContext("2d");
//                    ctx.drawImage(img, 0, 0);
//                    var MAX_WIDTH = 800;
//                    var MAX_HEIGHT = 800;
//                    var width = img.width;
//                    var height = img.height;
//                    if (width > height) {
//                        if (width > MAX_WIDTH) {
//                            height *= MAX_WIDTH / width;
//                            width = MAX_WIDTH;
//                        }
//                    } else {
//                        if (height > MAX_HEIGHT) {
//                            width *= MAX_HEIGHT / height;
//                            height = MAX_HEIGHT;
//                        }
//                    }
//                    canvas.width = width;
//                    canvas.height = height;
//                    var ctx = canvas.getContext("2d");
//                    ctx.drawImage(img, 0, 0, width, height);
//
//                    //change the dataUrl to blob data for uploading to server
//                    var dataURL = canvas.toDataURL('image/jpeg');
//                    var blob = dataURItoBlob(dataURL);
//
//                    deferred.resolve(blob);
//                };
//                reader.readAsDataURL(file);
//            } catch (e) {
//                deferred.resolve(e);
//            }
//            return deferred.promise;
//
//        };
//        return {
//            resizeFile: resizeFile
//        };
//
//    });
//
//    app.controller('CompanyCtrl', function($http, Util) {
//
//        Util.resizeFile(input.files[0]).then(function(blob_data) {
//            var fd = new FormData();
//            fd.append("imageFile", blob_data);
//            $http.post('http://your.domain.com/upload', fd, {
//                        headers: {'Content-Type': undefined },
//                        transformRequest: angular.identity
//                    })
//                    .success(function(data) {
//                        $scope.model.company_pict = data[0];
//                    })
//                    .error(function() {
//                        console.log("uploaded error...")
//                    });
//        }, function(err_reason) {
//            console.log(err_reason);
//        });
//
//
//    }

</script>
</html>