<!DOCTYPE html>
<html ng-app="myApp" >
<head>
    <meta charset="utf-8" />
    <title>angularjs 过滤器</title>
    <script src="js/angular.js"></script>
    <script type="text/javascript">
        (function () {
            var app = angular.module("myApp", []);
            app.controller("namesController", ["$scope",'$filter', function ($scope,$filter) {

                $scope.datetimelist=[1471412308000, 1470893737000, 1471239593000,1471325837000,1471153234000];

//                angular.forEach(datetimelist,function(value,key){
//                    console.log($filter('date')(value, 'yyyy-MM-dd HH:mm:ss'))
//                })
//
                $scope.wordarr=['A','B','C','D','E','F','G','H','J','K','L','M','N','O','P','Q','R','S','T','W','X','Y','Z'];
                $scope.bandsfilterword ='';

                $scope.bands=[{word:'g',name:'国帆'},{word:'z',name:'中农宏远'},{word:'b',name:'百诺农业'},{word:'l',name:'罗布泊'},{word:'g',name:'国帆1'},
                    {word:'z',name:'中农宏远1'},{word:'b',name:'百诺农业1'},{word:'l',name:'罗布泊1'},{word:'g',name:'国帆2'},{word:'z',name:'中农宏远2'},
                    {word:'b',name:'百诺农业3'},{word:'l',name:'罗布泊3'},{word:'g',name:'国帆4'},{word:'z',name:'中农宏远3'} ]
                $scope.names = [
                    { "Name": "Alfreds Futterkiste", "City": "Berlin", "Country": "Germany" },
                    { "Name": "Berglunds snabbköp", "City": "Luleå", "Country": "Sweden" },
                    { "Name": "Centro comercial Moctezuma", "City": "México D.F.", "Country": "Mexico" },
                    { "Name": "Ernst Handel", "City": "Graz", "Country": "Austria" },
                    { "Name": "FISSA Fabrica Inter. Salchichas S.A.", "City": "Madrid", "Country": "Spain" },
                    { "Name": "Galería del gastrónomo", "City": "Barcelona", "Country": "Spain" },
                    { "Name": "Island Trading", "City": "Cowes", "Country": "UK" },
                    { "Name": "Königlich Essen", "City": "Brandenburg", "Country": "Germany" },
                    { "Name": "Laughing Bacchus Wine Cellars", "City": "Vancouver", "Country": "Canada" },
                    { "Name": "Magazzini Alimentari Riuniti", "City": "Bergamo", "Country": "Italy" },
                    { "Name": "North/South", "City": "London", "Country": "UK" },
                    { "Name": "Paris spécialités", "City": "Paris", "Country": "France" },
                    { "Name": "Rattlesnake Canyon Grocery", "City": "Albuquerque", "Country": "USA" },
                    { "Name": "Simons bistro", "City": "København", "Country": "Denmark" },
                    { "Name": "The Big Cheese", "City": "Portland", "Country": "USA" },
                    { "Name": "Vaffeljernet", "City": "Århus", "Country": "Denmark" },
                    { "Name": "Wolski Zajazd", "City": "Warszawa", "Country": "Poland" }
                ];

                $scope.setFilter=function(word){
                    $scope.bandsfilterword = word;


                }



            }])
        })()
    </script>
</head>
<body>
<div ng-controller="namesController">
    <p>输入过滤：</p>
    <p><input type="text" ng-model="name"></p>
    <a ng-repeat="word in wordarr" ng-click="setFilter(word)">{{word}}</a>
    <ul ng-show="false">
        <li ng-repeat="x in names | filter:name | orderBy:'Country'">
            {{ (x.Name | uppercase) + ', ' + x.country }}
        </li>
    </ul>
    <ul>
         <li ng-repeat="item in bands | filter:bandsfilterword">
                <span><span ng-hide="true">{{item.word}}</span>{{item.name}}  </span>

         </li>

    </ul>
     <ul>
         <li ng-repeat="item in datetimelist | orderBy:item:true">
             {{item | date:'yyyy-MM-dd HH:mm:ss'}}

         </li>

     </ul>

</div>
</body>
</html>